:root.light {
	--teste: url(#grad1);
	--noturno: none;
	--diurno: inline;
	--slider-color: #edcc71;
	--slider-shadow: 9px 7px 35px -4px rgba(231, 166, 26, 1);
	--base-color: #0ca4a5;
	--base-color2: #eff9f0;
	--backdground-foto:linear-gradient(to right, #89c9e400, #40b1e2dc,#40b1e2 );
	--primary-color: #fdca40;
	--hightight-color: #4da1a9;
	--text-color: #262322;
	--text-color2: #e9e9e9;
	--text-color3: #262322;
	--text-color4: #262322;
	--text-color5: #40b1e2e8;
	--text-title: #A31621;
	--backgroundcolor: #e9e9e9;
	--backgroundcolor2:#ff5a5f;
	--projetos: #f4ac45;
	--linkes: #e9e9e9;
	--habilidades: #e9e9e9;
	--body-text: Arial, Helvetica, sans-serif;
	--title-text: Times, Georgia, serif;
	--tech-hover: #262322;
	--email-botom:#3185fc;
	--email-botom-hover:#023436;
	--email-color: #39393a;
	--email-color-hover: #e9e9e9;
	--tech-shadow: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	--shadow: 3px 3px 66px 14px rgb(195, 190, 195);
	--shadow2: 3px 3px 66px 14px rgb(202, 199, 202);
	--shadow3: 3px 3px 66px 14px rgb(202, 195, 202);
	--sombra1: 2px 1px 1px 0px rgba(32, 32, 29, 0.512);
	--sombra2: 2px 1px 1px 0px rgba(23, 23, 21, 0.395);
	--sombra3: 1px 1px 1px 0px rgba(23, 23, 22, 0.463);
}

:root.dark {
	--teste: url(#grad3);
	--noturno: inline;
	--diurno: none;
	--slider-color: #cfcfd0;
	--slider-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	--base-color: #312f30;
	--base-color2: #1f487e;
	--backdground-foto:linear-gradient(to right, #9eeee900, #48ddd3c3,#31d1c6f2);
	--primary-color: #1f487e;
	--hightight-color: #121212;
	--text-color: #23ce6b;
	--text-color2: #c49e85;
	--text-color3: #c17c74;
	--text-color4: #c49e85;
	--text-color5: #48ddd3f0;
	--title-color: #ef2d56;
	--backgroundcolor: #121212;
	--backgroundcolor2: #23ce6b;
	--projetos: #121212;
	--linkes: #c17c74;
	--habilidades: #223843;
	--body-text: Arial, Helvetica, sans-serif;
	--title-text: Times, Georgia, serif;
	--tech-hover: #23ce6b;
	--email-botom:#208aae;
	--email-botom-hover:#4fb286;
	--email-color:#272932;
	--email-color-hover: #f0f2ef;
	--tech-shadow: drop-shadow(-3px 5px 22px rgb(35, 206, 107, 1));
	--shadow: 1px -1px 29px -1px rgba(112, 229, 235, 1);
	--shadow2: 1px -1px 29px -1px rgba(112, 229, 235, 1);
	--shadow3: 1px -1px 29px -1px rgba(112, 229, 235, 1);
	--sombra1: -3px 3px 28px 5px rgba(35, 206, 107, 1);
	--sombra2: -3px 3px 28px 5px rgba(35, 206, 107, 1);
	--sombra3: -3px 3px 28px 5px rgba(35, 206, 107, 1);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
	/*padding: 1% 12%;*/
	background-color: var(--backgroundcolor);
	transition: width 2s;
}

/*Botão de modo noturno css*/

.modo {
	background-color: var(--backgroundcolor);
	padding: 10px 20px;
	margin-bottom: 20%;
	margin-top: 20%;
	/*margin: 1%;
	display: flex;
	justify-content: flex-start;
	padding: 20%;
	*/
}

.diurno {
	color: #e9e9e9;
	display: var(--noturno);
}

.noturno {
	color: #000000;
	display: var(--diurno);
}

.switch {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 34px
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0
}

.slider {
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ddddd6;
}

.slider, .slider:before {
	position: absolute;
	transition: .4s
}

.slider:before {
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--slider-color);
	box-shadow: var(--slider-shadow);
}

input:checked+.slider {
	background-color: #fffbdb;
}

input:focus+.slider {
	box-shadow: 0 0 1px var(--slider-color);
}

input:checked+.slider:before {
	transform: translateX(26px)
}

.slider.round {
	border-radius: 44px
}

.slider.round:before {
	border-radius: 50%
}

.tudo {
	margin: 1% 10%;
	border-radius: 8px;
	border: 6px solid var(--backgroundcolor);
	padding: 3px;
	-webkit-box-shadow: var(--shadow3);
	-moz-box-shadow: var(--shadow2);
	box-shadow: var(--shadow);
}

#maicom {
	width: 88%;
	height: 7%;
	margin-top: 1%;
	margin-bottom: 0%;
}

#maicom text {
	fill: var(--teste);
	/*font-family: 'Abril Fatface', serif;*/
	font-family:'DM Serif Display', serif;
	font-weight: bold;
	padding-left: 3%;
	padding-bottom: 1%;
}

#traco {
	margin-top: 1px;
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	filter: drop-shadow(0 0 2px #76d0c0ef);
	stroke: var(--teste);
	animation: animarTraco 8s linear infinite;
}

@keyframes animarTraco {
	to {
		stroke-dashoffset: 0;
	}
}

li {
	font-size: 2.5vh;
	font-weight: bold;
	font-family: 'DM Serif Display', serif;
}
.topsite {
	margin: 0% 10%;
	position: sticky;
	top: 0;
	z-index: 1;
}
.navegador {
	padding:0;
	margin: 0;
	display: grid;
	border-radius: 8px;
	grid-template-columns: 1fr 1fr 10fr;
}

.troca02{
	background-color: var(--backgroundcolor);
	padding: 10px 20px;
	margin-bottom: 20%;
	margin-top: 20%;
}
.navegador ul {
	display: flex;
	background-color: var(--hightight-color);
	list-style: none;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	font-size: 3vh;
	text-align: center;
}

.navegador li {
	flex: 1;
}

.navegador a {
	display: flex;
	justify-content: center;
	padding: 15px 40px;
	text-decoration: none;
	font-weight: 600;
	white-space: nowrap;
}

.navegador ul :hover {
	background-color: var(--backgroundcolor2);
	color: var(--text-color4);
}

.selected {
	background-color: var(--backgroundcolor2);
	color: var(--text-color4);
}

.navegador a {
	color: #FFF;
}

.titulo {
	color: var(--text-color);
	font-family: 'DM Serif Display', serif;
}

.collapse {
	padding-left: 3%;
}

.sobremim {
	background-color: var(--backgroundcolor);
	padding: 4%;
	font-family: 'DM Serif Display', serif;
	color: var(--text-color4);
}
.justificado {
	text-align: justify;
	font-size: 16pt;
}
.sobremim h2 {
	color: var(--text-color4);
}
.linkeone {
	text-decoration: none;
	color: var(--backgroundcolor);
	fill: var(--teste);
}

.linkeone:hover {
	color: var(--text-color5);
	box-shadow: 1px black;
}

#habilidades {
	background-color: var(--habilidades);
	padding: 3%;
}

.foto {
	margin-top: auto;
	background-image:var(--backdground-foto);
	width: 19%;
	height: 21%;
	padding: 0%;
	border-radius: 50%;
	text-align: left;
	border: 6px solid var(--backgroundcolor);
}

.banner {
	padding: 1%;
	background-color: var(--backgroundcolor);
}

.mudar {
	display: inline-block;
	height: 100%;
	width: auto;
	margin: 0;
	color: var(--habilidades);
}

.mudar:hover {
	color: #302c2c;
}

.tecnologias {
	fill: var(--text-color3);
	margin: 2px;
}

.techs {
	width: 50px;
	height: 50px;
	margin: 2px;
}

.techs:hover {
	fill: var(--tech-hover);
	filter: var(--tech-shadow);
	transition-duration: 0.3s;
}

#projetos {
	background-color: var(--projetos);
	padding-top: 2%;
}

#projetos h2 {
	font-family: 'Abril Fatface', serif;
	color: var(--text-color);
	padding-left: 2%;
}

#projetos h3 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: var(--text-color3);
}

.projetos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "projeto""texto";
	padding: 2% 3%;
	background-color: var(--projetos);
	color: var(--primary-color);
	margin-bottom: 2%;
}

.projetos a:link {
	text-decoration: none;
	/*border: 3px solid var(--text-color);*/
	background-color: var(--linkes);
	color: black;
	padding: 1%;
	margin: 2%;
	font-size: 2.5vh;
}

.projetos a:visited {
	color: black;
}

.projetos a:hover {
	color: var(--base-color2);
	border: 3px solid var(--text-color);
	background-color: var(--text-color);
	-webkit-box-shadow: var(--sombra1);
	-moz-box-shadow: var(--sombra2);
	box-shadow: var(--sombra3);
	transition-duration: 0.5s;
}

.projetos a:active {
	color: blue;
}

.projeto {
	grid-column: 1;
	padding: 2%;
}

.texto {
	grid-column: 2;
	padding: 0% 4%;
}

.textoprojeto {
	font-family: 'DM Serif Display', serif;
	font-size: 16pt;
	color: var(--text-color3);
	text-align: justify;
}

.borda {
	border-bottom: 5px solid #FFEECF;
	margin-bottom: 2px;
}

#contato {
	background-color: var(--base-color);
	color: var(--text-color2);
	padding: 4%;
}
.linke {
	text-decoration: none;
	color: var(--base-color);
	fill: var(--text-color2);
}

.linke:hover {
	color: var(--text-color2);
	box-shadow: 1px black;
}
#texto-a-copiar {
	display: none;
}

.copia-email {
	text-align: center;
	border-radius: 8px;
	background-color: var(--text-color2);
	width: 40%;
	height: auto;
}

.copicone h3{
	text-align: center;
	color: var(--email-color);
	font-family: 'Abril Fatface', serif;
	font-size: x-large;
}

.copitwo {
	display: none;
}
#iconemail{
	fill:var(--email-botom) ;
	width:15%;
	height:auto;
}
.copiar {
	background-color: var(--email-botom);
	color: var(--email-color);
	border: none;
	padding: 3%;
	margin: 2%;
	font-size: x-large;
	border-radius: 8px;
}

.copiar:hover {
	color: var(--email-color-hover);
	background-color: var(--email-botom-hover);
	cursor: pointer;
}

.icones {
	display: flex;
	flex-direction: row;
	width: 12%;
	height: auto;
}

.icones a {
	text-decoration: none;
	margin: 7px;
}

.icone {
	padding: 3%;
	width: 62%;
	height: auto;
}

/* carrocel em javascript */

.carousel {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	border: 2px solid #ddd;
	border-radius: 10px;
}

.carousel-images, .carousel-imagesfour {
	display: flex;
	width: 100%;
	transition: transform 0.6s ease-in-out;
}

.carousel-images img {
	width: 100%;
	border-radius: 10px;
}


.carousel-imagestwo, .carousel-imagesthree {
	display: flex;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.carousel-imagestwo img {
	width: 100%;
	border-radius: 10px;
}

.carousel-imagesthree img {
	width: 100%;
	border-radius: 10px;
}

.carousel-imagesfour img {
	width: 100%;
	border-radius: 10px;
}

.menu-titulo {
	color: var(--text-color2);
	font-weight: bold;
	font-family: 'DM Serif Display', serif;
}

.skills {
	fill: var(--text-color3);
	margin: 2px;
}

.icons {
	width: 80px;
	height: 80px;
	margin: 2px;
}

.icons:hover {
	transition-duration: 0.2s;
	fill: var(--tech-hover);
	filter: var(--tech-shadow);
}

.habilidades-titulo {
	color: var(--text-color3);
}

.texto-habilidades {
	font-family: 'DM Serif Display', serif;
	font-size: 16pt;
	color: var(--text-color3);
	text-align: justify;
}

@media only screen and (max-width: 768px) {
	body {
		padding: 0% 0%;
	}

	.tudo {
		padding: 0;
		margin: 1% 1%;
		border-radius: 8px;
		border: 1px solid var(--backgroundcolor2);
	}

	.projetos {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 1%;

	}
}