@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
	padding: 1% 12%;
	background-image: url("./img/wood2.jpg");
}

.tudo {
	padding: 0;
	background-color: #F5F5DC;
	/*border: 6px solid whitesmoke;*/
	box-shadow: 8px 3px 5px black,
		-1px -2px 5px gray;

}
.navbar-toggler{
	font-size: 2.5vh;
	font-family: 'DM Serif Display', serif;
	font-weight: bold;
}

.nome {
	color: #FFEECF;
	border-color: #302c2c 2px;
	font-family: 'Abril Fatface', serif;
	text-shadow: 3px 3px black;
	font-size: 5.5vh;
	padding-left: 3%;
	padding-bottom: 1%;
}

.titulo {
	text-shadow: 2px 3px black;
}

.collapse {
	padding-left: 3%;
}

.sobremim {
	background-color: #E15554;
	padding: 4%;
	font-family: 'DM Serif Display', serif;
	color: #F5F5DC;
}

.sobremim h2 {
	color: #F2CD60;
}

.linke {
	text-decoration: none;
	color: #E15554;
}

.linke:hover {
	color: #252525;
	box-shadow: 1px black;
}

#habilidades {
	background-color: #F2CD60;
	padding: 3%;
}

.foto {
	margin-top: auto;
	width: 19%;
	height: 21%;
	padding: 0%;
	border-radius: 50%;
	text-align: left;
	border: 6px solid #333333;
}

.banner {
	padding: 1%;
	background-color: #54a19e;
}

.mudar {
	display: inline-block;
	height: 100%;
	width: auto;
	margin: 0;
	color: #ffff00;
}

.mudar:hover {

	color: #302c2c;
}

.menu {
	padding: 1%;
}

#projetos {
	background-color: #FFFAE3;
	padding-top: 2%;

}


#projetos h2 {
	font-family: 'Abril Fatface', serif;
	color: #E15554;
	padding-left: 2%;

}

.projetos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "projeto""texto";

	/*background-color: #DB5461;*/
	padding: 3%;
	background-color: #FFFAE3;
	;
	color: #333533;
}

.projetos a:link {
	text-decoration: none;
	border: 3px solid #252525;
	background-color: #F6F8FF;
	color: black;
	padding: 1%;
	margin: 2%;
	font-size: 2.5vh;
}

.projetos a:visited {
	color: black;
}

/* mouse over link */
.projetos a:hover {
	color: whitesmoke;
	background-color: black;
}

/* selected link */
.projetos a:active {
	color: blue;
}

.projeto {
	grid-column: 1;
	padding: 4%;
}

.texto {
	grid-column: 2;
	padding: 4%;
}

.d-block {

	border: 6px solid #252525;
}

.textoprojeto {
	font-family: 'DM Serif Display', serif;
	font-size: 16pt;
}

.texto {
	grid-column: 2;
}

.borda {
	border-bottom: 5px solid #FF5666;
	margin-bottom: 2px;
}

.justificado {
	text-align: justify;
	font-size: 16pt;
}

#contato {
	background-color: #32533D;
	color: #F6F8FF;
	padding: 4%;
}

.icones {
	display: flex;
	flex-direction: row;
	width: 12%;
	height: auto;
}

.icones a {
	text-decoration: none;
}

.icone {
	padding: 3%;
	width: 62%;
	height: auto;
}

@media only screen and (max-width: 768px) {
	body {
		padding: 0% 0%;
		background-color: #32533D;

	}

	.tudo {
		padding: 0;
		margin: 1%;

	}

	.projetos {
		display: grid;
		grid-template-columns: 1fr;
		padding: 1%;

	}
}